body {
  background-color: #fff;
  font-family: 'Karla', sans-serif;
}

.intro-section {
  background-image: url("../src/Property.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #ffffff;
}

.brand-wrapper .logo {
  height: 40px;
}

@media (max-width: 500px) {
  .brand-wrapper {
    margin-bottom: 35px;
  }
}

.intro-content-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.intro-content-wrapper .intro-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 17px;
}

.intro-content-wrapper .intro-text {
  font-size: 19px;
}

.intro-content-wrapper .btn-read-more {
  background-color: #fff;
  /* padding: 13px 30px; */
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.intro-content-wrapper .btn-read-more:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.flex{
  display: flex;
  justify-content: space-around;
}
.SLbox {
  border: 1px solid gray;
  background-color: rgb(192, 127, 183);
  float: right;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}

/* .App {
  text-align: center;



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.g-btn>div,
.g-btn>div>svg {
  width: 40px !important;
  height: 38px !important;
}

.back_image {
  background-image:
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFb8DP3lUc8KyXT6aE23HD7P0ntDheVdmzew&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;

}

.container-s{
  margin:0px;
  padding:0;
  text-decoration: none;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background:gray;
  color: #fff;
  height: 100vh;
  width: 20px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.accordion-button {
  background-color: antiquewhite !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}